.about-us {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 158px;
}

.about-span {
  color: #10957d;
}

.left-about-container {
  margin-right: 144px;
}

.right-about-container {
  flex-basis: 496px;
}

.right-about-container > h2 {
  color: #242127;
  font-family: Plus Jakarta Sans;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: left;
  margin-bottom: 30px;
}

.right-about-container > p {
  color: rgba(36, 33, 39, 0.72);
  font-family: Plus Jakarta Sans;
  font-size: 22px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-align: left;
}

.left-about-container::after {
  content: url(../images/founder_card.png);
  position: absolute;
  bottom: -70px;
  right: -125px;
}
