.about-us {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 158px;
  flex-wrap: wrap;
}

.left-about-container {
  margin-right: 144px;
}

.right-about-container {
  width: 34%;
}

.right-about-container > h2 {
  color: #242127;
  font-family: Plus Jakarta Sans;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: left;
  margin-bottom: 30px;
}

.right-about-container > p {
  color: rgba(36, 33, 39, 0.72);
  font-family: Plus Jakarta Sans;
  font-size: 22px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-align: left;
}

.left-about-container::after {
  content: url(../images/founder_card.png);
  position: absolute;
  bottom: -70px;
  right: -125px;
}

/* Tablet */
@media (min-width: 601px) and (max-width: 800px) {
  .about-us {
    gap: 92px;
    margin-bottom: 90px;
  }

  .left-about-container {
    margin-right: 0;
  }

  .left-about-container::after {
    content: url(../images/founder_card_tablet.png);
    position: absolute;
    bottom: -56px;
    left: 125px;
    width: 210px;
  }
  .left-about-container > img {
    width: 460px;
    height: auto;
  }

  .right-about-container {
    width: 80%;
  }

  .right-about-container > h2 {
    text-align: center;
  }

  .right-about-container > p {
    text-align: center;
  }
}

/* Mobile Phone  */
@media (max-width: 600px) {
  .about-us {
    gap: 62px;
    margin-bottom: 70px;
  }

  .left-about-container {
    margin-right: 0;
  }

  .left-about-container > img {
    width: 320px;
    height: auto;
  }

  .left-about-container::after {
    content: url(../images/founder_card_mobile.png);
    position: absolute;
    bottom: -56px;
    left: 80px;
    width: 174px;
  }

  .right-about-container {
    width: 80%;
  }

  .right-about-container > h2 {
    font-size: 38px;
    text-align: center;
    margin-bottom: 15px;
  }

  .right-about-container > p {
    text-align: center;
    font-size: 16px;
  }
}
