.cta {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 152px;
  margin-bottom: 192px;
  gap: 112px;
  flex-wrap: wrap;
}

.right-cta-container {
  display: flex;
  width: 39%;
  gap: 68px;
  align-items: flex-end;
  flex-direction: column;
  position: relative;
  top: 1;
  left: 1;
}

.right-cta-container > h2 {
  color: #212427;
  text-align: right;
  font-family: Plus Jakarta Sans;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  position: relative;
  margin-bottom: 12px;
}

.right-cta-container > p {
  color: #212427;
  text-align: right;
  font-family: Plus Jakarta Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  position: relative;
}
.right-cta-container > h2::before {
  content: url(../images/star.png);

  position: absolute;
  top: -40px;
  left: -20px;
}

.right-cta-container > p::after {
  content: url(../images/sparkle.png);
  position: absolute;
  top: 80px;
}

/* Tablet */
@media (min-width: 601px) and (max-width: 800px) {
  .cta {
    gap: 56px;
    margin-top: 76px;
    margin-bottom: 96px;
  }
  .left-cta-container > img {
    width: 400px;
  }

  .right-cta-container {
    align-items: center;
    justify-content: center;
    width: 76%;
  }

  .right-cta-container > h2 {
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  .right-cta-container > p {
    text-align: center;
  }

  .right-cta-container > h2::before {
    content: url(../images/star.png);

    position: absolute;
    top: -60px;
    left: -50px;
  }

  .right-cta-container > p::after {
    content: url(../images/sparkle.png);
    position: absolute;
    top: 180px;
    right: -50px;
  }
}

/* Mobile Phone  */
@media (max-width: 600px) {
  .cta {
    gap: 56px;
    margin-top: 76px;
    margin-bottom: 96px;
  }

  .left-cta-container > img {
    width: 250px;
  }

  .right-cta-container {
    width: 80%;
    gap: 34px;
  }
  .right-cta-container {
    align-items: center;
    justify-content: center;
  }
  .right-cta-container > h2 {
    font-size: 44px;

    text-align: center;
    align-items: center;
    justify-content: center;
  }
  .right-cta-container > p {
    text-align: center;
    font-size: 18px;
  }

  .right-cta-container > p::after {
    content: url(../images/sparkle.png);
    position: absolute;
    top: 180px;
    right: -20px;
  }
}
