footer {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;

  border-top: 1px solid #d3d3d3;
  background: #272732;

  padding-top: 136px;
  padding-bottom: 128px;
  /* @media (max-width: 600px) {
      display: flex;
      flex-direction: column;
    } */
}

footer p {
  color: #f4eeee;
  font-family: Plus Jakarta Sans;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: left;
}

footer a {
  color: #f4eeee;
  font-family: Plus Jakarta Sans;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
footer h4 {
  color: #47c9b1;
  font-family: Plus Jakarta Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  /* margin-bottom: 16px; */

  text-align: left;
}

footer li {
  list-style: none;
  /* margin-bottom: 22px; */
  text-align: left;
}

.hotama-column {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  /* justify-content: flex-start; */
  flex-basis: 313px;
  gap: 32px;
  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    gap: 16px;
  }
}

.company-logo-desc {
  display: flex;
  flex-direction: row;
  /* gap: 22px; */
}

/* .company-logo-desc img {
  margin-bottom: 22px;
} */

.social-media {
  align-self: flex-start;
  margin-right: 10px;
  /* padding-top: 26px; */
  margin-bottom: 30px;
}

.contact-column {
  display: flex;
  flex-direction: column;
  flex-basis: 267px;
  gap: 16px;
}

.company-column {
  display: flex;
  flex-direction: column;
  flex-basis: 161px;
  gap: 16px;
}

.information-column {
  display: flex;
  flex-direction: column;
  flex-basis: 141px;
  gap: 16px;
}

@media (max-width: 600px) {
  footer {
    display: flex;
    flex-direction: column;
    /* width: 100%; */
    padding-bottom: 40px;
  }
}
