footer {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;

  border-top: 1px solid #d3d3d3;
  background: #272732;

  padding-top: 48px;
  padding-bottom: 48px;
  /* @media (max-width: 600px) {
      display: flex;
      flex-direction: column;
    } */
}

footer p {
  color: #f4eeee;
  font-family: Plus Jakarta Sans;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: left;
}

footer a {
  color: #f4eeee;
  font-family: Plus Jakarta Sans;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
footer h4 {
  color: #47c9b1;
  font-family: Plus Jakarta Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 22px;
  text-align: left;
}

footer li {
  list-style: none;
  margin-bottom: 22px;
  text-align: left;
}

.hotama-column {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  flex-basis: 313px;
  gap: 128px;
  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    gap: 64px;
  }
}

.company-logo-desc {
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.company-logo {
  text-align: left;
}

.company-logo-desc img {
  margin-bottom: 22px;
}

.social-media {
  align-self: flex-start;
  margin-right: 10px;
  padding-top: 26px;
}

.office-column {
  display: flex;
  flex-direction: column;
  flex-basis: 215px;
  gap: 16px;
}

.company-column {
  display: flex;
  flex-direction: column;
  flex-basis: 161px;
}

.information-column {
  display: flex;
  flex-direction: column;
  flex-basis: 141px;
}

@media (max-width: 600px) {
  footer {
    display: flex;
    flex-direction: column;
    /* width: 100%; */
    padding-bottom: 40px;
  }
}
