footer {
  display: flex;
  justify-content: center;

  align-items: flex-start;
  border-top: 1px solid #d3d3d3;
  background: #272732;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  max-width: 90dvw;
  gap: 8%;
}

.footer-container > div {
  margin-top: 100px;
  margin-bottom: 32px;
}

footer p {
  color: #f4eeee;
  font-family: Plus Jakarta Sans;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: left;
}

footer a {
  color: #f4eeee;
  font-family: Plus Jakarta Sans;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
footer h3 {
  color: #47c9b1;
  font-family: Plus Jakarta Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: left;
}

footer li {
  list-style: none;

  text-align: left;
}

.hotama-column {
  display: flex;
  align-items: flex-start;
  flex-direction: column;

  flex-basis: 313px;
  gap: 34px;
}

.company-desc {
  margin-bottom: 112px;
}

.social-media {
  margin-right: 10px;
}

.contact-column {
  display: flex;
  flex-direction: column;
  flex-basis: 267px;
  gap: 16px;
}

.company-column {
  display: flex;
  flex-direction: column;
  flex-basis: 200px;
  gap: 16px;
}

.information-column {
  display: flex;
  flex-direction: column;
  flex-basis: 141px;
  gap: 16px;
}

/* Tablet */
@media (min-width: 601px) and (max-width: 800px) {
  .footer-container {
    padding-bottom: 32px;
  }

  .company-desc {
    margin-bottom: 56px;
  }
}

/* Mobile Phone  */
@media (max-width: 600px) {
  .company-desc {
    margin-bottom: 56px;
  }

  .footer-container {
    align-items: flex-start;
    justify-content: flex-start;
  }

  .footer-container > div {
    margin-top: 50px;
    margin-bottom: 16px;
  }

  footer {
    padding-bottom: 16px;
  }
}
