.navbar {
  background: #ffffff00;

  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 72px;
  padding: 0 84px;
}

header {
  position: none;
  top: 0;
  left: 0;
  width: 100%;
  transition: all 0.6s;

  z-index: 1;
}

.nav-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 36px;
}

.nav-item {
  list-style: none;
}

.nav-link {
  color: #1c2d41;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Plus Jakarta Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-decoration: none;
  cursor: pointer;
}

.nav-link:hover {
  font-weight: bold;
  color: #14a99a;
}

.navbar button {
  font-size: 14px;
  width: 121px;
  height: 34px;
  border-radius: 5px;
  border: 1px solid #10957d;
  background: #10957d00;
  color: #10957d;
  font-feature-settings: "clig" off, "liga" off;

  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}

.navbar button:hover {
  background: #10957d;
  color: #ffffff;
}

.menu .icon {
  display: none;
}
.hamburger {
  display: none;
}

@media (max-width: 800px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
  }
  .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 4.5rem;
    display: block;
    background-color: #fff;
    width: 100%;
    transition: 0.3s;
    padding-right: 100px;
    padding-bottom: 36px;

    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-item {
    margin: 2rem 0;
    text-align: left;
    margin-left: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #bcc3cc;
  }

  .nav-link {
    font-size: 16px;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
    transform: translateY(-8px) rotate(-45deg);
  }
}
