.navbar {
  background: #ffffff00;

  display: flex;
  justify-content: space-around;
  align-items: center;
  /* padding: 0 100px; */
  height: 72px;
}

.logo {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  /* gap: 36px; */
}

.menu > a {
  color: #1c2d41;
  text-align: center;
  font-family: Inter;
  font-size: 14x;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  display: inline-flex;
  margin: 0 30px;
  text-decoration: none;
}

.menu > a:hover {
  /* font-weight: bold; */
  color: #10957d;
}

.navbar button {
  font-size: 14px;
  flex-basis: 116px;
  height: 34px;
}
