.navbar {
  background: #ffffff00;

  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 0 100px; */
  height: 72px;
  padding: 0 84px;
}

.logo {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 36px;
}

.menu > a {
  color: #1c2d41;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Plus Jakarta Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  text-decoration: none;
}

.menu > a:hover {
  /* font-weight: bold; */
  color: #10957d;
}

.navbar button {
  font-size: 14px;
  flex-basis: 121px;
  height: 34px;
  border-radius: 5px;
  border: 1px solid #10957d;
  background: #10957d00;
  color: #10957d;
  font-feature-settings: "clig" off, "liga" off;

  /* Label / Medium Label */
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 142.857% */
}
