.our-partners {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 42px;
  padding-bottom: 118px;
}

.our-partners-top-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 100px;
  width: 728px;
}

.our-partners-top-container > h2 {
  color: #212427;
  text-align: center;
  font-family: Plus Jakarta Sans;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.our-partners-top-container > p {
  color: rgba(33, 36, 39, 0.62);
  text-align: center;
  font-family: Plus Jakarta Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.our-partners-bot-container {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  gap: 56px;
}

.partner-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
