.second-headline {
  display: flex;
  justify-content: center;
  flex-direction: column;

  padding-bottom: 18px;
  margin-bottom: 158px;
}
.second-headline-text-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
}

.second-headline p {
  text-align: center;
  line-height: normal;
}
.second-headline-maintext {
  color: #212427;
  text-align: center;
  font-family: Plus Jakarta Sans;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.second-headline-subtext > p {
  width: 58%;
  color: #646464;
  text-align: center;
  font-family: Plus Jakarta Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.second-headline-subtext {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  align-items: center;
  margin-bottom: 90px;
}

.discover-more::before {
  content: url(../images/decorations_dots.png);

  position: absolute;
  left: 100px;
  bottom: 15px;
}

.discover-more::after {
  content: url(../images/decorations_dots.png);

  position: absolute;
  right: 100px;
  top: -300px;
}

/* Tablet */
@media (min-width: 601px) and (max-width: 800px) {
  .second-headline {
    margin-bottom: 90px;
  }
  .discover-more::before {
    content: "";
  }

  .discover-more::after {
    content: "";
  }
  .second-headline-text-container {
    gap: 30px;
  }

  .second-headline-subtext {
    margin-bottom: 45px;
  }

  .second-headline-subtext > p {
    width: 78%;
  }
}

/* Mobile Phone  */
@media (max-width: 600px) {
  .second-headline {
    margin-bottom: 64px;
  }
  .second-headline-maintext {
    font-size: 46px;
  }

  .second-headline-subtext > p {
    font-size: 18px;
    width: 80%;
  }

  .discover-more::before {
    content: "";
  }

  .discover-more::after {
    content: "";
  }

  .second-headline-text-container {
    gap: 30px;
  }

  .second-headline-subtext {
    margin-bottom: 45px;
  }
}
