.second-headline {
  display: flex;
  justify-content: center;
  flex-direction: column;

  padding-bottom: 18px;
  margin-bottom: 158px;
}
.second-headline-text-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
}

.second-headline p {
  text-align: center;
  line-height: normal;
}
.second-headline-maintext {
  color: #212427;
  text-align: center;
  font-family: Plus Jakarta Sans;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.second-headline-subtext > p {
  width: 58%;
  color: #646464;
  text-align: center;
  font-family: Plus Jakarta Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.second-headline-subtext {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  align-items: center;
  margin-bottom: 90px;
}

.discover-more::before {
  content: url(../images/decorations_dots.png);
  width: 98.475px;
  height: 70.926px;
  flex-shrink: 0;
  position: absolute;
  left: 100px;
  bottom: 15px;
}

.discover-more::after {
  content: url(../images/decorations_dots.png);
  width: 98.475px;
  height: 70.926px;
  flex-shrink: 0;
  position: absolute;
  right: 100px;
  top: -300px;
}
