.testimony {
  margin-top: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #10957d;
  padding: 60px 0;
  overflow: none;
}

.testi-content {
  position: relative;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
  overflow: none;
}
.testi-title {
  align-self: flex-start;
}

.testi-title > h2 {
  color: #fff;
  font-family: Plus Jakarta Sans;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px; /* 114.286% */
}

.quote {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50px);
}

.slide {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.slide-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;

  border-radius: 10px;
  padding: 32px;
  background: #fff;
}
.slide-text > h3 {
  color: #18191f;
  text-align: center;
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 155.556% */
}
.slide-text > p {
  color: #18191f;
  text-align: center;
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
}
.arrow {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
}
.arrow > img {
  width: 100%;
  height: auto;
  transform: translateY(-2px);
}
.testi-people {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 16px;
}
.people-image > img {
  border-radius: 50px;
}

.people-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.people-text > h3 {
  color: #fff;
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; /* 155.556% */
}

.people-text > p {
  color: #fff;
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s ease-in-out;
}

.navigation-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
.swiper-pagination-bullet {
  width: 10px !important;
  height: 10px !important;
  border: #fff 2px solid !important;
  background: none !important;
}
.swiper-pagination-bullet-active {
  background: #fff !important;
}

/* @media (min-width: 601px) and (max-width: 800px) {

  .testi-content {
    width: 80%;
  }
}

@media (max-width: 600px) {


  .testi-content {
    width: 90%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s ease-in-out;
    width: 100%; 
  }

  .swiper-container {
    overflow: hidden;
  }
} */
