h2 {
  font-family: "Plus Jakarta Sans";
  text-align: center;
  font-size: 60px;
  color: black;
}

.subtitle {
  font-family: "Plus Jakarta Sans";
  font-size: 25px;
  color: rgb(21, 24, 27);
  position: relative;
  margin-top: 2%;
}

.container p {
  font-family: "Plus Jakarta Sans";
  font-size: 16px;
  color: rgb(21, 24, 27);
}

.container h3 {
  font-family: "Plus Jakarta Sans";
  font-size: 22px;
  color: rgb(21, 24, 27);
}

.card img {
  height: 65px;
  width: 70px;
  position: relative;
}

.container .column1 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.container .column2 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  margin: 10px 90px;
  width: 250px;
}
