.why-should-us {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 76px;
  margin-bottom: 100px;
}

.why-should-us-top-container {
  display: flex;
  flex-direction: column;
  gap: 38px;
  width: 742px;
}

.why-should-us-top-container > h2 {
  color: #212427;
  font-family: Plus Jakarta Sans;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.why-should-us-top-container > p {
  color: rgba(33, 36, 39, 0.8);
  text-align: center;
  font-family: Plus Jakarta Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.why-should-us-bot-container {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 64px;
}
.why-should-us-bot-container p {
  font-family: "Plus Jakarta Sans";
  font-size: 16px;
  color: rgb(21, 24, 27);
}

.why-should-us-bot-container h3 {
  font-family: "Plus Jakarta Sans";
  font-size: 22px;
  color: rgb(21, 24, 27);
  margin-bottom: 8px;
}

.card-top-row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.card-bot-row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 130px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
}
.card img {
  height: 64px;
  width: 64px;
  margin-bottom: 24px;
}
